<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<notifications newPostNotificationTemplateId="3ecf3424-c536-61b5-a250-ff000098fb8a" newThreadNotificationTemplateId="3fcf3424-c536-61b5-a250-ff000098fb8a" />
</forumsConfig>